footer.footer
  .container
    .footer__wrap
      .copyright © Mazekine OU, 2020
      nav.footer-nav
        ul
          li
            a(href="#") Terms of use
          li
            a(href="#") Contact us
          li
            a(href="#") Telegram
          li
            a(href="#") Facebook
          li
            a(href="#") Reddit