section.sec
  .container
    .sec__header
      h2.sec__title
        span.sec__title-emodji ⭐️ 
        | Bestsellers
      a.btn.btn_empty.btn_s.sec__more(href="#") 
        span MORE
    .items-row
      include ../modules/item.html
      include ../modules/item_no-pic.html
      include ../modules/item.html
      include ../modules/item.html
      include ../modules/item.html
      include ../modules/item.html