.catalog-list
  include ../modules/item_blur.html
  include ../modules/item_blur_no-pic.html
  include ../modules/item_blur.html
  .catalog-list__blc
    include ../modules/catalog-banner.html
  include ../modules/item_blur.html
  include ../modules/item_blur.html
  include ../modules/item_blur.html
  .catalog-list__blc
    include ../modules/short-banner.html