.catalog
  .container
    include ../modules/sort-mob.html
    h1.page-title Business
    .catalog__wrap
      .catalog__sidebar
        include ../modules/filter.html
      .catalog__main
        include ../modules/sort.html        
        include ../modules/catalog-list
      
  