section.sec.mob-hide
  .container
    .sec__header
      h2.sec__title Collections
      a.btn.btn_empty.btn_s.sec__more(href="#") 
        span MORE
    .blur-row
      include ../modules/item_blur.html
      include ../modules/item_blur.html
      include ../modules/item_blur.html