section.sec.sec_dark-on-mob
  .container
    .sec__header
      h2.sec__title
        span.sec__title-emodji 👍 
        | Editor’s choice
      a.btn.btn_empty.mob-hide.btn_s.sec__more(href="#") 
        span MORE
    .blur-row
      include ../modules/item_blur.html
      include ../modules/item_blur_no-pic.html
      include ../modules/item_blur.html