.index-page-header
  .container
    .index-page-header__wrap
      .index-page-header__col
        include ../modules/index-nav.html
      .index-page-header__col
        include ../modules/search-form.html