include ../modules/index-page-header
include ../modules/stories.html
include ../modules/main-slider.html
include ../modules/editors-choice
include ../modules/mob-collection-sec
include ../modules/main-bots.html
include ../modules/bestsellers
include ../modules/banner.html
include ../modules/new-and-updated
include ../modules/collections
include ../modules/recent-updates
include ../modules/short-banner-sec


