section.sec.mob-show
  .container
    .sec__header
      h2.sec__title
        span.sec__title-emodji 🍔 
        | Collections
      a.btn.btn_empty.btn_s.sec__more(href="#") 
        span.desc MORE
        span.mob Show all
    include ../modules/mob-collection.html