section.sec.mob-hide
  .container
    .sec__header
      h2.sec__title New and updated
      a.btn.btn_empty.btn_s.sec__more(href="#") 
        span MORE
    .items-row
      include ../modules/item.html
      include ../modules/item.html
      include ../modules/item.html
      include ../modules/item.html
      include ../modules/item.html
      include ../modules/item.html