//colors
$clr-blue: #2D9CDB;
$clr-red: #FF6E40;
$clr-green: #219653;
$clr-error: #EB5757;
$clr-red-hover: #D84315;
$clr-blue: #2D9CDB;
$clr-blue-hover: darken(#2D9CDB, 10%);
$clr-bg-green: rgba(111, 207, 151, .25);
$clr-brd-green: rgba(39, 174, 96, .25);
$clr-txt-green: #219653;
$clr-pink: #fff0ec;
$clr-grey: #c4c4c4;
$clr-txt: #262626;
$clr-txt-light: rgba(38, 38, 38, .5);
$clr-txt-grey: #828282;
$clr-bg: #fff;
$clr-bg-footer: #F2F2F2;
$clr-bg-input: #fff;
$clr-bg-filter: #E0E0E0;
$clr-bg-filter-item: #4F4F4F;
$clr-bg-grey-btn: #F2F2F2;
$clr-brd-input: #eee;
$clr-brd-pinc: #FFCCBC;
$clr-brd-popup: #E0E0E0;
$clr-placeholder: #828282;
$clr-overlay: rgba(0, 0, 0, .5);

//fonts
$font-maun: 'Roboto', sans-serif;
$font-second: 'Stolzl';

//shaddows
$shd-item: 0 2px 4px rgba(0, 0, 0, .25);
$shd-btn: 0 1px 2px rgba(0, 0, 0, .25);