.rait{
  position: relative;
  background: url(../img/svg/star_overlay.svg) 0 center repeat-x;
  background-size: 18px 100% !important;
  width: 90px;
  height: 16px;
  &__top{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: url(../img/svg/star.svg) 0 center repeat-x;
    background-size: 18px 100% !important;
  }
  @media only screen and (max-width : 767px){
    width: 66px;
    height: 12px;
    background-size: 13px 100% !important;
    &__top{background-size: 13px 100% !important;}
  }
}