<!DOCTYPE html>
html(lang="En")
  head
    include ../global_modules/head
  body
    .wrapper
      include ../global_modules/intro.html
      block header
      main.main
        block main
      include ../global_modules/footer
      include ../global_modules/scripts